/* 首页样式 */
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?7kkyc2');
    src: url('../fonts/icomoon.eot?7kkyc2#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?7kkyc2') format('truetype'), url('../fonts/icomoon.woff?7kkyc2') format('woff'), url('../fonts/icomoon.svg?7kkyc2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.main {
    width: 980px;
    height: 497px;
    margin-left: 219px;
    background-color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.focus {
    width: 720px;
    height: 100%;
    background-color: #ffffff;
    display: flex; /* 添加 flex 布局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    overflow: hidden; /* 防止内容溢出 */
}

.newsflash {
    width: 250px;
    height: 98%;
    border: 1px solid #e4e4e4;
    padding-top: 10px;
}

.newsflash_header {
    text-align: left;
    height: 42px;
    padding-left: 18px;
    border-bottom: 1px solid #e4e4e4;
}

.newsflash_Newslist {
    height: 132px;
    width: 100%;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 10px;
}

.newsflash_Newslist ul li span {
    font-size: 12px;
    font-weight: 1000;
    text-shadow: 20px;
}

.newsflash_Newslist ul li {
    margin: 10px 0 0 10px;
}

.newsflash_grid table {
    font-family: icomoon;
}

.newsflash_grid table tr td {
    width: 80px;
    height: 73px;
}

.newsflash_grid table tr td p {
    font-size: 23px;
    text-align: center;
    color: #1d9bf0;
}

.newsflash_grid table tr td a p {
    font-size: 13px;
    color: #4f5356;
    text-align: center;
}

.newsflash_adv {
    width: 100%;
    height: 70px;
    background-image: url('../img/advertisement1.webp');
    background-repeat: no-repeat;
    background-size: 100% 60px;
}

.recommend {
    height: 163px;
    background-color: #1d9bf0;
    margin-top: 10px;
}

.recom-hd {
    width: 200px;
    height: 100%;
    background-color: #5c5251;
}

.recom-hd p {
    font-family: icomoon;
    font-size: 56px;
    text-align: center;
    color: #ffffff;
    margin-top: 32PX;
}

.recom-bd {
    width: 1000px;
    height: 100%;
    background-color: #ebebeb;
}

.recom-bd ul li {
    width: 249px;
    border-right: 1px solid #ccc;
    height: 145px;
    float: left;
    margin: 10px 0;
}

.reflash {
    height: 60px;
    font-family: icomoon;
}

.items {
    height: 232px;
    border: 1px solid #ccc;
}

.items li {
    width: 170px;
    height: 232px;
    float: left;
    margin-left: 30px;
}

.items .top {
    height: 130px;
    width: 145px;
    text-align: center;
}


.font-goods {
    font-size: 12px;
    border-right: 1px solid #ccc;
    height: 64px;
}
.font-interesting{
    height: 15px;
    padding-top: 33px;
    font-size: 20px;
    padding-bottom: 15px;
    color: #666666; 
    font-family: icomoon;

}
.advertisement{
    height: 407px;
}
.adv_left1{
    width: 405px;
    height: 100%;
    background-color: #b8bddd;
    float: left;
}
.adv_left2{
    width: 224px;
    height: 100%;
    float: left;
}  
.adv_right1{
    width: 406px;
    height: 100%;
    float: left;
}
.adv_right2{
    width: 164px;
    height: 100%;
    float: left;
}
.adv_right2 td img{
    width: 100%;
} 
.adv_right2 td{
    width: 100px;
    height: 50px;
}
.adv_l1_head{
    height: 38px;
    text-align: center;
    line-height: 39px;
    font-size: 16px;
}
.adv_l1_main{
    height:206px;
    width: 50%;
    display: flex;
}
.adv_r1_head{
    width: 100%;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 16px;
}
.adv_r1_main{
    display: flex;
    height: 50%;
}
.adv_r1_main_f{
    flex: 0 1 50%;
    text-align: center;   
}
.carousel {
    position: relative;
    width: 100%;
    max-height: 500px;
}

.slide {
    display: none;
    width: 100%;
    height: auto;
}

.slide img {
    width: 100%;
    height: auto;
}

.active {
    display: block;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
  