      .w {
            width: 1300px;
            margin: auto;
            background-color: #000f1d;
        }
        
        body {
            width: 100%;
            height: auto;
        }
        
        .form-password {
            border: 1px solid rgb(211, 211, 211);
            width: 400px;
            height: 70px;
            /* margin: auto; */
            position: relative;
            top: 400px;
            left: 50%;
            margin-left: -200px;
        }
        
        label {
            text-align: center;
            line-height: 55px;
            padding-left: 20px;
        }
        
        .pwd {
            width: 212px;
            height: 48px;
            position: absolute;
            top: 5px;
            left: 110px;
            border-color: transparent;
            border-bottom: 1px solid black;
            outline: none;
            padding-right: 50px;
            /* margin-bottom: 20px; */
        }
        
        .eyess {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 24px;
            height: 30px;
            display: inline-block;
        }
        
        .header {
            width: 400px;
            height: 55px;
            background-color: rgb(255, 255, 255);
            position: relative;
            top: 200px;
            left: 50%;
            margin-left: -160px;
        }
        
        li {
            float: left;
            width: 72px;
            height: 55px;
            list-style: none;
            margin-left: 50px;
            position: relative;
        }
        
        .frist {
            float: left;
            width: 72px;
            width: 55px;
            list-style: none;
            margin-left: 0px;
        }
        
        .icon {
            width: 30px;
            height: 30px;
            position: absolute;
            top: 5px;
            left: 15px;
        }
        
        li .second {
            position: absolute;
            top: 10px;
            left: -60px;
        }
        
        .message {
            font-size: 12px;
            position: absolute;
            top: 15px;
            left: 420px;
            width: 120px;
            height: 40px;
            background-image: url(../../../1/image/感叹号.png);
            background-repeat: no-repeat;
            background-size: 30px;
            padding-left: 30px;
            /* // background-position-y: -3px; */
            background-position: left center;
            text-align: center;
            line-height: 40px;
        }
        
        .number {
            font-size: 8px;
            position: absolute;
            top: 30px;
            left: 5px;
            width: 60px;
            height: 21px;
            margin-top: 10px;
        }
        
        .wrong {
            color: red;
            background-image: url(../../../1/image/错误.png);
        }
        
        .corret {
            color: green;
            background-image: url(../../../1/image/正确.png);
        }
        
        .user {
            width: 400px;
            height: 72px;
            background-color: rgb(255, 255, 255);
            position: relative;
            top: 300px;
            left: 50%;
            margin-left: -200px;
            border: 1px solid rgb(191, 187, 187);
        }
        
        .userId {
            width: 212px;
            height: 48px;
            position: absolute;
            top: 5px;
            left: 95px;
            border-color: transparent;
            border-bottom: 1px solid rgb(201, 199, 199);
            outline: none;
            padding-right: 50px;
            /* margin-bottom: 20px; */
        }
        
        .usermessage {
            font-size: 12px;
            position: absolute;
            top: 15px;
            left: 420px;
            width: 120px;
            height: 40px;
            background-image: url(../../../1/image/感叹号.png);
            background-repeat: no-repeat;
            background-size: 30px;
            padding-left: 30px;
            /* // background-position-y: -3px; */
            background-position: left center;
            text-align: center;
            line-height: 40px;
        }
        
        .phone {
            width: 400px;
            height: 72px;
            background-color: rgb(255, 255, 255);
            position: relative;
            top: 350px;
            left: 50%;
            margin-left: -200px;
            border: 1px solid rgb(191, 187, 187);
        }
        
        .phoneNumber {
            width: 200px;
            height: 48px;
            position: absolute;
            top: 5px;
            left: 95px;
            border-color: transparent;
            border-bottom: 1px solid rgb(201, 199, 199);
            outline: none;
        }
        
        .phonePost {
            width: 100px;
            height: 52px;
            float: right;
            margin-top: 6px;
            margin-left: 4px;
            background-color: transparent;
            border: 1px solid grey;
        }
        
        .Check {
            width: 400px;
            height: 72px;
            background-color: rgb(255, 255, 255);
            position: relative;
            top: 380px;
            left: 50%;
            margin-left: -200px;
            border: 1px solid rgb(191, 187, 187);
        }
        
        .CheckNumber {
            width: 200px;
            height: 48px;
            position: absolute;
            top: 5px;
            left: 130px;
            border-color: transparent;
            border-bottom: 1px solid rgb(201, 199, 199);
            outline: none;
        }
        
        .sim-checkbox {
            width: 20px;
            height: 20px;
            position: relative;
            top: 400px;
            left: 41.5%;
            margin-top: 30px;
            border: 2px solid black;
        }
        
        .bgound {
            width: 20px;
            height: 20px;
            position: relative;
            top: 400px;
            left: 41.5%;
            margin-top: 30px;
            background-image: url(../../../1/image/打勾.png);
            background-size: 20px;
            border: 3px solid black;
        }
        
        .link {
            position: relative;
            top: 380px;
            left: 45%;
        }
        
        .Finsh {
            background-color: red;
            color: white;
            position: relative;
            top: 400px;
            left: 50%;
            margin-left: -200px;
            width: 400px;
            height: 54px;
            line-height: 54px;
            text-align: center;
            font-size: 20px;
        }
        
        .Finsh:hover {
            background-color: rgb(177, 0, 0);
        }
        
        .w {
            background-image: url(../../../1/image/headerLOG.jpg);
            width: 1500px;
            height: 400px;
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: 0px -400px;
            position: relative;
        }
        
        .logo {
            float: right;
            margin-top: 45px;
            font-size: 25px;
            text-decoration: none;
            color: red;
            margin-right: 3px;
        }
        
        .title {
            width: 200px;
            height: 100px;
            position: absolute;
            top: 50%;
            left: 250px;
        }
        
        .logo-title {
            text-decoration: none;
            float: left;
            margin-top: 9px;
            margin-left: 250px;
            font-size: 30px;
            color: red;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        
        .have-account {
            float: right;
            margin-top: 50px;
            margin-right: 3px;
            font-size: 25px;
            text-decoration: none;
            color: #5e5c5c;
        }
        
        .sqcode {
            background-image: url('../../../1/image/qrcode.png');
            background-repeat: no-repeat;
            background-size: 100px;
            width: 100px;
            height: 100px;
            /* position: relative; */
            /* margin: auto; */
            position: fixed;
            top: 50%;
            left: 50px;
            z-index: 10;
            /* margin-top: 50px; */
        }
        
        .sqcode img {
            width: 20px;
            height: 20px;
            position: absolute;
            top: 10px;
            left: -10px;
        }
        
        .w p {
            color: rgb(98, 94, 94);
            font-size: x-large;
            position: absolute;
            top: 70%;
            right: 2%;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
        
        .title1 {
            width: 500px;
            position: absolute;
            top: 80%;
            right: 2%;
        }
        
        .footer {
            position: relative;
            bottom: -500px;
            height: 415px;
            background-color: #f0ebeb;
            background-position-x: 1;
        }
        /* .footer .w {
    padding-top: 40px;
    background-color: #00a4ff;
} */
        
        .copyright {
            float: left;
        }
        
        .copyright img {
            margin-top: 30px;
        }
        
        .copyright p {
            font-size: 12px;
            color: #666;
            margin: 20px 0 15px 0;
        }
        
        .copyright .app {
            width: 118px;
            height: 33px;
            border: 1px solid #00a4ff;
            display: block;
            line-height: 33px;
            text-decoration: none;
            text-align: center;
            color: #00a4ff;
        }
        
        .links {
            float: right;
        }
        
        .links dl {
            float: left;
            margin-right: 140px;
        }
        
        .links dl dt {
            font-size: 16px;
            color: #333;
            margin-top: 20px;
        }
        
        .links dl dd {
            margin-top: 10px;
        }
        
        .links dl dd a {
            color: #333;
            font-size: 15px;
            text-decoration: none;
        }
        
        .c {
            width: 1500px;
            margin: auto;
            background-color: #080808;
        }
        
        .Find {
            text-decoration: none;
            color: white;
            background-color: red;
        }